Abrir archivo de lesionados

In [14]:
# Librerías:
import openpyxl
import pandas as pd
import os
from datetime import datetime

In [15]:
# Ruta al archivo Excel
archivo_excel = r"BaseDatos/lesiones.xlsx"

In [16]:
# Cargar el archivo
libro_trabajo = openpyxl.load_workbook(archivo_excel)

In [17]:
# Obtener la hoja activa (por defecto)
hoja_activa = libro_trabajo.active

In [18]:
# Leer una celda
celda = hoja_activa['A1']
valor = celda.value

In [19]:
# Imprimir el valor de la celda
print(valor)

id

In [20]:
# Llevar el archivo excel a un dataframe
df = pd.read_excel(r"BaseDatos/lesiones.xlsx")

Se realiza ETL:

In [21]:
df.head(2)

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD

In [22]:
# Mostrar nombres de las columnas de la DF
df.columns

Index(['id', 'n_victimas', 'aaaa', 'mm', 'dd', 'fecha', 'hora', 'franja_hora',
       'direccion_normalizada', 'comuna', 'tipo_calle', 'otra_direccion',
       'calle', 'altura', 'cruce', 'geocodificacion_CABA', 'longitud',
       'latutid', 'victima', 'acusado', 'participantes', 'moto', 'auto',
       'transporte_publico', 'camion', 'ciclista', 'gravedad'],
      dtype='object')

In [24]:
# Cuántos nulos hay por columna
df.isnull().sum()

id                           0
n_victimas                   0
aaaa                         0
mm                           0
dd                           0
fecha                        0
hora                         0
franja_hora                  5
direccion_normalizada       53
comuna                     169
tipo_calle                   0
otra_direccion               0
calle                    10918
altura                   11014
cruce                    14378
geocodificacion_CABA        39
longitud                   262
latutid                    262
victima                      0
acusado                      0
participantes                0
moto                        93
auto                        93
transporte_publico          93
camion                      93
ciclista                    93
gravedad                     0
dtype: int64

In [25]:
# Ver valores únicos
df["id"].unique()

array(['LC-2019-0000179', 'LC-2019-0000053', 'LC-2019-0000063', ...,
       'LC-2021-0652907', 'LC-2021-0652921', 'LC-2020-0244615'],
      dtype=object)

In [26]:
# Ver valores únicos
df["n_victimas"].unique()

array([ 1,  4,  2,  3,  5, 10,  6, 16,  8,  0,  7], dtype=int64)

In [27]:
# Ver valores únicos
df["aaaa"].unique()

array([2019, 2020, 2021], dtype=int64)

In [28]:
# Ver valores únicos
df["mm"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [29]:
# Ver valores únicos
df["dd"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64)

In [30]:
# Ver valores únicos
df["fecha"].unique()

array([datetime.datetime(2019, 1, 1, 0, 0),
       datetime.datetime(2019, 1, 2, 0, 0),
       datetime.datetime(2019, 1, 3, 0, 0), ...,
       datetime.datetime(2021, 12, 30, 0, 0),
       datetime.datetime(2021, 12, 31, 0, 0), '5/17/2020'], dtype=object)

In [31]:
# Supongamos que tienes un DataFrame llamado 'df' con una columna llamada 'mi_columna'
# Puedes acceder a esa columna de la siguiente manera:
columna_deseada = df["fecha"]

In [32]:
# Ahora puedes imprimir los valores de la columna:
print(columna_deseada)

0        2019-01-01 00:00:00
1        2019-01-01 00:00:00
2        2019-01-01 00:00:00
3        2019-01-01 00:00:00
4        2019-01-01 00:00:00
                ...
23780    2021-12-31 00:00:00
23781    2021-12-31 00:00:00
23782    2021-12-31 00:00:00
23783    2021-12-31 00:00:00
23784              5/17/2020
Name: fecha, Length: 23785, dtype: object

In [33]:
# Cambiar "5/17/2020" a "2020-05-17"
# Fecha original en formato MM/DD/YYYY
df["fecha"] = pd.to_datetime(df["fecha"], format="%m/%d/%Y")

In [34]:
# Ahora la columna 'fecha' tiene el formato datetime
# Si deseas formatearla como "YYYY-MM-DD", puedes hacer lo siguiente:
df["fecha_formateada"] = df["fecha"].dt.strftime("%Y-%m-%d")

In [35]:
# Imprimir los primeros registros para verificar
df["fecha_formateada"].unique()

array(['2019-01-01', '2019-01-02', '2019-01-03', ..., '2021-12-25',
       '2021-12-30', '2021-12-31'], dtype=object)

In [36]:
# Supongamos que tienes un DataFrame 'df' con una columna 'fecha_formateada'
# Si aún no has convertido la columna a datetime, hazlo primero:
df["fecha_formateada"] = pd.to_datetime(df["fecha_formateada"])

In [37]:
# Ahora, crea las nuevas columnas para año, mes y día:
df['agno'] = df["fecha_formateada"].dt.year
df['mes'] = df["fecha_formateada"].dt.month
df['dia'] = df["fecha_formateada"].dt.day

In [38]:
# Ver valores únicos
df["hora"].unique()

array([datetime.time(9, 0), datetime.time(1, 55), datetime.time(2, 0),
       ..., datetime.time(22, 46), datetime.time(0, 57),
       datetime.time(6, 38)], dtype=object)

In [39]:
# Ver valores únicos
df["franja_hora"].unique()

array([9, 1, 2, 4, 8, 7, 12, 13, 19, 18, 21, 3, 15, 14, 5, 17, 23, 10, 16,
       11, 20, 22, 0, 6, 'sd', nan], dtype=object)

In [40]:
# La columna 'hora' contiene valores como "09:00:00"
# Convertir la columna 'hora' a formato datetime
df["hora"] = pd.to_datetime(df["hora"], format="%H:%M:%S", errors="coerce")

In [41]:
# Extraer de la hora, la franja horaria
# Extraer la franja horaria sin los ceros iniciales
df["franja_hora_new"] = df["hora"].dt.hour

In [42]:
df["franja_hora_new"].unique()

array([ 9.,  1.,  2.,  4.,  8.,  7., 12., 13., 19., 18., 21.,  3., 15.,
       14.,  5., 17., 23., 10., 16., 11., 20., 22.,  0.,  6., nan])

In [43]:
# Queremos reemplazar los valores NaN por cero
df["franja_hora_new"] = df["franja_hora_new"].fillna(0)

In [44]:
# Cambiar float por int
df["franja_hora_new"] = df["franja_hora_new"].astype(int)

In [46]:
# Ver valores únicos
df["direccion_normalizada"].unique()

array(['SD', 'PAZ, GRAL. AV. y ACHA, MARIANO, GRAL.',
       'DEL LIBERTADOR AV. 100', ...,
       'BELAUSTEGUI, LUIS, DR. y GONZALEZ, JOAQUIN V.', 'VIEL 276',
       'ALBERDI, JUAN BAUTISTA AV. 4436'], dtype=object)

In [47]:
# Ver valores únicos
df["comuna"].unique()

array([14, 8, 7, 3, 15, 11, 9, 1, 4, 12, 2, 5, 6, 13, 10,
       'No Especificada', nan, 'SD'], dtype=object)

In [48]:
# Queremos reemplazar los valores NaN por cero
df["comuna"] = df["comuna"].fillna(0)

In [49]:
# Ver valores únicos
df["comuna"].unique()

array([14, 8, 7, 3, 15, 11, 9, 1, 4, 12, 2, 5, 6, 13, 10,
       'No Especificada', 0, 'SD'], dtype=object)

In [50]:
# Supongamos que tienes un DataFrame llamado 'df' con una columna 'mi_columna'
# Queremos cambiar el valor 'antiguo_valor' por 'nuevo_valor'
df["comuna"] = df["comuna"].replace("No Especificada", 0)
df["comuna"] = df["comuna"].replace("SD", 0)

In [51]:
# Ver valores únicos
df["comuna"].unique()

array([14,  8,  7,  3, 15, 11,  9,  1,  4, 12,  2,  5,  6, 13, 10,  0],
      dtype=int64)

In [52]:
# Ver valores únicos
df["tipo_calle"].unique()

array(['SD', 'AVENIDA', 'CALLE', 'GRAL PAZ', 'AUTOPISTA'], dtype=object)

In [53]:
# Cambiar algunos valores de tipo de calle
df["tipo_calle"] = df["tipo_calle"].replace("GRAL PAZ", "AVENIDA")
df["tipo_calle"] = df["tipo_calle"].replace("SD", 0)

In [54]:
# Ver valores únicos
df["tipo_calle"].unique()

array([0, 'AVENIDA', 'CALLE', 'AUTOPISTA'], dtype=object)

In [55]:
# Ver valores únicos
df["otra_direccion"].unique()

array(['Obligado Rafael, Av.Costanera 3300, Barrio: Palermo  , jurisdicción comisaria:  Vecinal 14C',
       'Autopista Presidente Héctor J. Cámpora y Roca, Cnel. Av. 0, Barrio: Villa Soldati  , jurisdicción comisaria:  Vecinal 8B',
       'Barros Pazos, Jose y Larraya 0, Barrio: Villa Lugano  , jurisdicción comisaria:  Vecinal 8A',
       ..., 'Autopista 25 de Mayo km. 5,0 sentido CABA',
       'Alvear, Marcelo T. De y Uriburu Jose E., Pres.',
       'Barrio Padre Carlos Mugica (Villa 31 bis)'], dtype=object)

In [56]:
# Ver valores únicos
df["calle"].unique()

array([nan, 'PAZ, GRAL. AV.', 'DEL LIBERTADOR AV.', ...,
       'GUTIERREZ, JUAN MARIA', 'BAZURCO', 'DERQUI AV.'], dtype=object)

In [57]:
# Queremos reemplazar los valores NaN por cero
df["calle"] = df["calle"].fillna(0)

In [58]:
# Ver valores únicos
df.isnull().sum()

id                           0
n_victimas                   0
aaaa                         0
mm                           0
dd                           0
fecha                        0
hora                      5654
franja_hora                  5
direccion_normalizada       53
comuna                       0
tipo_calle                   0
otra_direccion               0
calle                        0
altura                   11014
cruce                    14378
geocodificacion_CABA        39
longitud                   262
latutid                    262
victima                      0
acusado                      0
participantes                0
moto                        93
auto                        93
transporte_publico          93
camion                      93
ciclista                    93
gravedad                     0
fecha_formateada             0
agno                         0
mes                          0
dia                          0
franja_hora_new              0
dtype: int64

In [59]:
# Ver valores únicos
df["altura"].unique()

array([   nan,   100.,   568., ...,   929., 11500.,   276.])

In [60]:
# Ver valores únicos
df["cruce"].unique()

array([nan, 'ACHA, MARIANO, GRAL.', 'GIRIBONE', ..., 'PODESTA, JOSE J.',
       'RIO LIMAY', 'LARRAZABAL AV.'], dtype=object)

In [61]:
# Queremos reemplazar los valores NaN por cero
df["altura"] = df["altura"].fillna(0)
df["cruce"] = df["cruce"].fillna(0)

In [62]:
# Ver nulos
df["geocodificacion_CABA"].isnull().sum()

39

In [63]:
df.columns

Index(['id', 'n_victimas', 'aaaa', 'mm', 'dd', 'fecha', 'hora', 'franja_hora',
       'direccion_normalizada', 'comuna', 'tipo_calle', 'otra_direccion',
       'calle', 'altura', 'cruce', 'geocodificacion_CABA', 'longitud',
       'latutid', 'victima', 'acusado', 'participantes', 'moto', 'auto',
       'transporte_publico', 'camion', 'ciclista', 'gravedad',
       'fecha_formateada', 'agno', 'mes', 'dia', 'franja_hora_new'],
      dtype='object')

In [64]:
# Nueva DF
columnas_deseadas = ["id", "n_victimas", "agno", "mes", "dia", "franja_hora_new", "comuna",
                     "geocodificacion_CABA", "longitud", "latutid", "victima", "acusado",
                     "participantes", "moto", "auto", "transporte_publico", "camion",
                     "ciclista", "gravedad"]
nueva_df = df[columnas_deseadas]

In [65]:
nueva_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    23785 non-null  object
 1   n_victimas            23785 non-null  int64
 2   agno                  23785 non-null  int32
 3   mes                   23785 non-null  int32
 4   dia                   23785 non-null  int32
 5   franja_hora_new       23785 non-null  int32
 6   comuna                23785 non-null  int64
 7   geocodificacion_CABA  23746 non-null  object
 8   longitud              23523 non-null  object
 9   latutid               23523 non-null  object
 10  victima               23785 non-null  object
 11  acusado               23785 non-null  object
 12  participantes         23785 non-null  object
 13  moto                  23692 non-null  object
 14  auto                  23692 non-null  object
 15  transporte_publico    23692 non-null  object
 16  camion                23692 non-null  object
 17  ciclista              23692 non-null  object
 18  gravedad              23785 non-null  object
dtypes: int32(4), int64(2), object(13)
memory usage: 3.1+ MB

In [66]:
nueva_df.isnull().sum()

id                        0
n_victimas                0
agno                      0
mes                       0
dia                       0
franja_hora_new           0
comuna                    0
geocodificacion_CABA     39
longitud                262
latutid                 262
victima                   0
acusado                   0
participantes             0
moto                     93
auto                     93
transporte_publico       93
camion                   93
ciclista                 93
gravedad                  0
dtype: int64

In [67]:
# Queremos reemplazar los valores NaN por cero
nueva_df["moto"] = nueva_df["moto"].fillna(0)
nueva_df["auto"] = nueva_df["auto"].fillna(0)
nueva_df["transporte_publico"] = nueva_df["transporte_publico"].fillna(0)
nueva_df["camion"] = nueva_df["camion"].fillna(0)
nueva_df["ciclista"] = nueva_df["ciclista"].fillna(0)

nueva_df["geocodificacion_CABA"] = nueva_df["geocodificacion_CABA"].fillna(0)
nueva_df["longitud"] = nueva_df["longitud"].fillna(0)
nueva_df["latutid"] = nueva_df["latutid"].fillna(0)

C:\Users\56988\AppData\Local\Temp\ipykernel_14356\2017032475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["moto"] = nueva_df["moto"].fillna(0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\2017032475.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["auto"] = nueva_df["auto"].fillna(0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\2017032475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["transporte_publico"] = nueva_df["transporte_publico"].fillna(0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\2017032475.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["camion"] = nueva_df["camion"].fillna(0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\2017032475.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["ciclista"] = nueva_df["ciclista"].fillna(0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\2017032475.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["geocodificacion_CABA"] = nueva_df["geocodificacion_CABA"].fillna(0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\2017032475.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["longitud"] = nueva_df["longitud"].fillna(0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\2017032475.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["latutid"] = nueva_df["latutid"].fillna(0)

In [68]:
nueva_df.isnull().sum()

id                      0
n_victimas              0
agno                    0
mes                     0
dia                     0
franja_hora_new         0
comuna                  0
geocodificacion_CABA    0
longitud                0
latutid                 0
victima                 0
acusado                 0
participantes           0
moto                    0
auto                    0
transporte_publico      0
camion                  0
ciclista                0
gravedad                0
dtype: int64

In [69]:
nueva_df["victima"].unique()

array(['CICLISTA', 'AUTO', 'SD', 'PEATON', 'MOTO', 'TRANSPORTE PUBLICO',
       'CAMIONETA', 'MOVIL', 'OTRO', 'CAMION', 'MONOPATIN', 'UTILITARIO',
       'TAXI', 'MIXTO'], dtype=object)

In [70]:
nueva_df["acusado"].unique()

array(['SD', 'AUTO', 'CICLISTA', 'MOVIL', 'CAMIONETA', 'MOTO', 'TAXI',
       'TRANSPORTE PUBLICO', 'CAMION', 'OBJETO FIJO', 'OTRO',
       'UTILITARIO', 'PEATON', 'MONOPATIN'], dtype=object)

In [71]:
nueva_df["participantes"].unique()

array(['CICLISTA-SD', 'AUTO-SD', 'SD-SD', 'PEATON-SD', 'MOTO-SD',
       'TRANSPORTE PUBLICO-SD', 'CAMIONETA-SD', 'MOVIL-SD', 'OTRO-SD',
       'CAMION-SD', 'MONOPATIN-SD', 'UTILITARIO-SD', 'TAXI-SD',
       'CICLISTA-AUTO', 'MOTO-CICLISTA', 'CICLISTA-MOVIL',
       'PEATON-CICLISTA', 'CICLISTA-CAMIONETA', 'CICLISTA-MOTO',
       'CICLISTA-TAXI', 'CICLISTA-TRANSPORTE PUBLICO', 'CICLISTA-CAMION',
       'CICLISTA-OBJETO FIJO', 'CICLISTA-OTRO', 'CICLISTA-CICLISTA',
       'CICLISTA-UTILITARIO', 'AUTO-CICLISTA', 'MOTO-OBJETO FIJO',
       'AUTO-AUTO', 'AUTO-OBJETO FIJO', 'MOTO-AUTO', 'PEATON-TAXI',
       'MOTO-TAXI', 'PEATON-TRANSPORTE PUBLICO',
       'TRANSPORTE PUBLICO-TRANSPORTE PUBLICO', 'MOTO-CAMIONETA',
       'AUTO-CAMION', 'PEATON-AUTO', 'CAMIONETA-TAXI', 'CAMIONETA-AUTO',
       'SD-AUTO', 'PEATON-CAMIONETA', 'MOTO-OTRO', 'AUTO-CAMIONETA',
       'TAXI-MOVIL', 'SD-MOTO', 'PEATON-MOTO', 'MOTO-TRANSPORTE PUBLICO',
       'MIXTO-TRANSPORTE PUBLICO', 'TRANSPORTE PUBLICO-CAMIONETA',
       'MOTO-MOTO', 'MOTO-CAMION', 'SD-TRANSPORTE PUBLICO',
       'AUTO-TRANSPORTE PUBLICO', 'MONOPATIN-TAXI', 'AUTO-MOTO',
       'TAXI-AUTO', 'TRANSPORTE PUBLICO-MOTO', 'CAMIONETA-CAMIONETA',
       'TRANSPORTE PUBLICO-AUTO', 'MOVIL-AUTO', 'CAMION-CAMION',
       'MOVIL-TRANSPORTE PUBLICO', 'MIXTO-SD', 'TAXI-CAMION',
       'AUTO-MOVIL', 'MIXTO-CAMION', 'AUTO-TAXI', 'CAMION-OBJETO FIJO',
       'TAXI-CAMIONETA', 'PEATON-CAMION', 'PEATON-OBJETO FIJO',
       'PEATON-MOVIL', 'MOTO-PEATON', 'CAMIONETA-TRANSPORTE PUBLICO',
       'TAXI-TRANSPORTE PUBLICO', 'SD-OTRO', 'MONOPATIN-AUTO',
       'TAXI-TAXI', 'TRANSPORTE PUBLICO-CAMION', 'CAMIONETA-CAMION',
       'CAMION-TRANSPORTE PUBLICO', 'CAMIONETA-MOTO',
       'CAMIONETA-OBJETO FIJO', 'PEATON-MONOPATIN', 'MOTO-MOVIL',
       'TAXI-OBJETO FIJO', 'PEATON-OTRO', 'TRANSPORTE PUBLICO-TAXI',
       'MOVIL-MOTO', 'MIXTO-AUTO', 'MOVIL-CAMION', 'AUTO-OTRO',
       'SD-CAMION', 'SD-CAMIONETA', 'SD-OBJETO FIJO', 'MOVIL-CAMIONETA',
       'MOVIL-MOVIL', 'MOTO-UTILITARIO', 'PEATON-UTILITARIO',
       'AUTO-UTILITARIO', 'UTILITARIO-UTILITARIO', 'UTILITARIO-TAXI',
       'MOVIL-UTILITARIO', 'UTILITARIO-CAMION', 'UTILITARIO-AUTO',
       'MOVIL-OBJETO FIJO', 'SD-TAXI', 'CAMION-AUTO', 'MOTO-MONOPATIN',
       'MIXTO-MOTO', 'TAXI-MOTO', 'MONOPATIN-TRANSPORTE PUBLICO',
       'MIXTO-TAXI', 'OTRO-AUTO', 'MONOPATIN-OBJETO FIJO',
       'CICLISTA-PEATON', 'TRANSPORTE PUBLICO-CICLISTA',
       'MONOPATIN-CICLISTA', 'MOVIL-TAXI', 'OTRO-TRANSPORTE PUBLICO',
       'MIXTO-CAMIONETA', 'MONOPATIN-MOTO', 'SD-MOVIL',
       'MONOPATIN-CAMIONETA', 'OTRO-CAMION',
       'TRANSPORTE PUBLICO-OBJETO FIJO', 'CAMION-MOTO'], dtype=object)

In [72]:
nueva_df["moto"].unique()

array(['SD', 'x', 0], dtype=object)

In [73]:
nueva_df["auto"].unique()

array(['SD', 'x', 0], dtype=object)

In [74]:
nueva_df["transporte_publico"].unique()

array(['SD', 'x', 0], dtype=object)

In [75]:
nueva_df["camion"].unique()

array(['SD', 'x', 0], dtype=object)

In [76]:
nueva_df["ciclista"].unique()

array(['x', 'SD', 0], dtype=object)

In [77]:
nueva_df["gravedad"].unique()

array(['SD', 'GRAVE', 'sd', 'FATAL', 'grave'], dtype=object)

In [78]:
# Cambiar algunos valores
nueva_df["moto"] = nueva_df["moto"].replace("SD", 0)
nueva_df["moto"] = nueva_df["moto"].replace("x", 1)

nueva_df["auto"] = nueva_df["auto"].replace("SD", 0)
nueva_df["auto"] = nueva_df["auto"].replace("x", 1)

nueva_df["transporte_publico"] = nueva_df["transporte_publico"].replace("SD", 0)
nueva_df["transporte_publico"] = nueva_df["transporte_publico"].replace("x", 1)

nueva_df["camion"] = nueva_df["camion"].replace("SD", 0)
nueva_df["camion"] = nueva_df["camion"].replace("x", 1)

nueva_df["ciclista"] = nueva_df["ciclista"].replace("SD", 0)
nueva_df["ciclista"] = nueva_df["ciclista"].replace("x", 1)

nueva_df["gravedad"] = nueva_df["gravedad"].replace("SD", 0)
nueva_df["gravedad"] = nueva_df["gravedad"].replace("sd", 0)
nueva_df["gravedad"] = nueva_df["gravedad"].replace("grave", "GRAVE")

C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["moto"] = nueva_df["moto"].replace("SD", 0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["moto"] = nueva_df["moto"].replace("x", 1)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["auto"] = nueva_df["auto"].replace("SD", 0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["auto"] = nueva_df["auto"].replace("x", 1)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["transporte_publico"] = nueva_df["transporte_publico"].replace("SD", 0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["transporte_publico"] = nueva_df["transporte_publico"].replace("x", 1)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["camion"] = nueva_df["camion"].replace("SD", 0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["camion"] = nueva_df["camion"].replace("x", 1)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["ciclista"] = nueva_df["ciclista"].replace("SD", 0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["ciclista"] = nueva_df["ciclista"].replace("x", 1)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["gravedad"] = nueva_df["gravedad"].replace("SD", 0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["gravedad"] = nueva_df["gravedad"].replace("sd", 0)
C:\Users\56988\AppData\Local\Temp\ipykernel_14356\4258331006.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["gravedad"] = nueva_df["gravedad"].replace("grave", "GRAVE")

In [85]:
nueva_df.tail(2)

,id,n_victimas,agno,mes,dia,franja_hora_new,comuna,geocodificacion_CABA,longitud,latitud,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
23783,LC-2021-0652921,1,2021,12,31,22,5,Point (104472.702045632 101660.930364258),-58.414532050899,-34.614288229345,MOTO,TRANSPORTE PUBLICO,MOTO-TRANSPORTE PUBLICO,1,0,1,0,0,GRAVE
23784,LC-2020-0244615,1,2020,5,17,21,0,Point (114990.04979284359433223 88934.67755418...,-5829963273,-3472890716,MOTO,AUTO,MOTO-AUTO,1,1,0,0,0,SD

In [80]:
nueva_df["gravedad"].unique()

array([0, 'GRAVE', 'FATAL'], dtype=object)

In [81]:
# Cambiar dato
nueva_df["gravedad"] = nueva_df["gravedad"].replace(0, "SD")

C:\Users\56988\AppData\Local\Temp\ipykernel_14356\1921158742.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df["gravedad"] = nueva_df["gravedad"].replace(0, "SD")

In [82]:
# Cambiar el nombre de la columna
nueva_df.rename(columns={"latutid": "latitud"}, inplace=True)

C:\Users\56988\AppData\Local\Temp\ipykernel_14356\3069154678.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nueva_df.rename(columns={"latutid": "latitud"}, inplace=True)

In [83]:
nueva_df.head(2)

,id,n_victimas,agno,mes,dia,franja_hora_new,comuna,geocodificacion_CABA,longitud,latitud,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,9,14,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,CICLISTA,SD,CICLISTA-SD,0,0,0,0,1,SD
1,LC-2019-0000053,1,2019,1,1,1,8,Point (101813.84712503915943671 95578.55507230...,-58.44351,-34.669125,AUTO,SD,AUTO-SD,0,1,0,0,0,SD

In [84]:
# Guardar nueva DF a .csv 
nueva_df.to_csv("df_les_lista.csv")